<footer id="footer" class="bg-gray-900 py-18  text-white"style="background-color: #2c2f33 !important">
  <div class="container mx-auto px-6 lg:px-12">
    <div class="flex flex-col lg:flex-row items-center justify-between py-14 font-lg font-medium">
      <p class="mb-4 lg:mb-0 text-center lg:text-left">
        © 2022 <a href="#" class="font-medium text-green-500">Prabin Nyaupane</a>. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
